{% extends "_base.html" %}
{% load static %}


{% block content %}
	<h3>
		Регистрация
	</h3>
	<form class="row mt-2" action="" method="POST">
		{% csrf_token %}
		{% if form.errors %}
			<p>{{form.errors}}</p>
		{% endif %}
		<label for="">Введите логин:</label>
		{{form.username}}
		<label for="">Введите email:</label>
		{{form.email}}
		<label for="">Введите пароль:</label>
		{{form.password1}}
		<label for="">Введите подтверждения пароля:</label>
		{{form.password2}}
		<div class="row mt-2">	
				<button
				type="sumbit" class="btn btn-primary">
					Ок
				</button>
			</div>
	</form>
</div>

{% endblock content %}